/* JS CSS Inputs */
.wrap {
    display: flex;
    flex-direction: column;
}
/* JS CSS Inputs end */

body {
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: blue;
    z-index: 2;
}

.course-container {
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.courses {
    background-color: yellow;
}