@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Barlow:ital,wght@0,100;0,300;0,800;0,900;1,200&display=swap');

/* JS CSS Inputs */
.wrap {
    display: flex;
    flex-direction: column;
}
/* JS CSS Inputs end */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
    font-family: 'Barlow', sans-serif;
    user-select: none;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: blue;
    z-index: 2;
}

.course-container {
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.courses {
    background-color: yellow;
}